<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.system.mapper.CourseMapper">

    <insert id="insertCourse">
        INSERT INTO sys_course (name, semester, teacher, code, status, color, is_top)
        VALUES (#{name}, #{semester}, #{teacher}, #{code}, #{status}, #{color}, 0)
    </insert>

    <select id="selectAllCourses" resultType="com.project.system.entity.Course">
        SELECT * FROM sys_course ORDER BY id DESC
    </select>

    <update id="updateCourse">
        UPDATE sys_course
        <set>
            <if test="teacher != null">teacher = #{teacher},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteCourseById">
        DELETE FROM sys_course WHERE id = #{id}
    </delete>
</mapper>