<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.system.mapper.TeacherInteractionMapper">

    <resultMap id="TeacherInteractionMap" type="com.project.system.entity.TeacherInteraction">
        <id column="id" property="id"/>
        <result column="course_id" property="courseId"/>
        <result column="class_id" property="classId"/>
        <result column="teacher_id" property="teacherId"/>
        <result column="date" property="date"/>
        <result column="talk_time_seconds" property="talkTimeSeconds"/>
        <result column="student_talk_seconds" property="studentTalkSeconds"/>
        <result column="group_talk_seconds" property="groupTalkSeconds"/>
        <result column="interaction_count" property="interactionCount"/>
        <result column="created_at" property="createdAt"/>
    </resultMap>

    <select id="selectByCourseIds" resultMap="TeacherInteractionMap">
        SELECT id, course_id, class_id, teacher_id, date, talk_time_seconds, student_talk_seconds,
               group_talk_seconds, interaction_count, created_at
        FROM teacher_interaction
        WHERE course_id IN
        <foreach collection="courseIds" item="cid" open="(" separator="," close=")">
            #{cid}
        </foreach>
        ORDER BY date ASC, id ASC
    </select>

    <delete id="deleteByCourseIdAndDateAndClassIds">
        DELETE FROM teacher_interaction
        WHERE course_id = #{courseId}
          AND date = #{date}
        <if test="classIds != null and classIds.size > 0">
            AND class_id IN
            <foreach collection="classIds" item="cid" open="(" separator="," close=")">
                #{cid}
            </foreach>
        </if>
    </delete>

    <insert id="batchInsert">
        INSERT INTO teacher_interaction
            (course_id, class_id, teacher_id, date, talk_time_seconds, student_talk_seconds, group_talk_seconds, interaction_count)
        VALUES
        <foreach collection="list" item="r" separator=",">
            (#{r.courseId}, #{r.classId}, #{r.teacherId}, #{r.date},
             #{r.talkTimeSeconds}, #{r.studentTalkSeconds}, #{r.groupTalkSeconds}, #{r.interactionCount})
        </foreach>
    </insert>
</mapper>
