<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.system.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.project.system.entity.User">
        <id     property="userId"       column="user_id" />
        <result property="username"     column="username" />
        <result property="password"     column="password" />
        <result property="realName"     column="real_name" />
        <result property="roleType"     column="role_type" />
        <result property="teacherRank"  column="teacher_rank" />
        <result property="createTime"   column="create_time" />
    </resultMap>

    <select id="findByUsername" resultMap="UserResultMap">
        SELECT * FROM sys_user
        WHERE username = #{username}
    </select>

    <insert id="insert" parameterType="com.project.system.entity.User">
        INSERT INTO sys_user (
            username,
            password,
            real_name,
            role_type,
            teacher_rank,
            create_time
        )
        VALUES (
                   #{username},
                   #{password},
                   #{realName},
                   #{roleType},
                   #{teacherRank},
                   NOW()
               )
    </insert>
    <select id="selectAllUsers" resultMap="UserResultMap">
        SELECT * FROM sys_user
        <where>
            <if test="username != null and username != ''">
                AND (username LIKE concat('%', #{username}, '%') OR real_name LIKE concat('%', #{username}, '%'))
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <update id="updateUser" parameterType="com.project.system.entity.User">
        UPDATE sys_user
        <set>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="roleType != null">role_type = #{roleType},</if>
            <if test="classId != null">class_id = #{classId},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteUserById">
        DELETE FROM sys_user WHERE user_id = #{userId}
    </delete>
</mapper>