<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.system.mapper.UserMapper">

    <resultMap id="UserResultMap" type="com.project.system.entity.User">
        <id     property="userId"       column="user_id" />
        <result property="username"     column="username" />
        <result property="password"     column="password" />
        <result property="realName"     column="real_name" />
        <result property="email"        column="email" />
        <result property="roleType"     column="role_type" />
        <result property="teacherRank"  column="teacher_rank" />
        <result property="accountStatus" column="account_status" />
        <result property="college"      column="college" />
        <result property="classId"      column="class_id" />
        <result property="teachingClasses" column="teaching_classes" />
        <result property="createTime"   column="create_time" />
    </resultMap>

    <sql id="FilterWhereClause">
        <where>
            <if test="keyword != null and keyword != ''">
                AND (username LIKE concat('%', #{keyword}, '%')
                OR real_name LIKE concat('%', #{keyword}, '%'))
            </if>
            <if test="roleType != null and roleType != ''">
                AND role_type = #{roleType}
            </if>
            <if test="classId != null and classId != ''">
                AND class_id = #{classId}
            </if>
        </where>
    </sql>

    <select id="countAllUsers" resultType="long">
        SELECT count(user_id) FROM sys_user
        <include refid="FilterWhereClause"/>
    </select>

    <select id="findByUsername" resultMap="UserResultMap">
        SELECT *
        FROM sys_user
        WHERE username = #{username}
        LIMIT 1
    </select>

    <select id="findByRealNameAndRoleType" resultMap="UserResultMap">
        SELECT *
        FROM sys_user
        WHERE real_name = #{realName}
          AND role_type = #{roleType}
        LIMIT 1
    </select>

    <select id="selectById" resultMap="UserResultMap">
        SELECT *
        FROM sys_user
        WHERE user_id = #{userId}
        LIMIT 1
    </select>

    <select id="selectAllUsers" resultMap="UserResultMap">
        SELECT * FROM sys_user
        <include refid="FilterWhereClause"/>
        ORDER BY user_id DESC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <update id="updateUser">
        UPDATE sys_user
        <set>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="roleType != null">role_type = #{roleType},</if>
            <!-- 角色相关字段清理：仅在传入 roleType 时生效（避免密码修改等场景误清空） -->
            <if test="roleType != null">
                <choose>
                    <when test="roleType == '2'">
                        teacher_rank = #{teacherRank},
                    </when>
                    <otherwise>
                        teacher_rank = NULL,
                    </otherwise>
                </choose>
            </if>
            <if test="roleType != null">
                <choose>
                    <when test="roleType == '2' or roleType == '3' or roleType == '5'">
                        college = #{college},
                    </when>
                    <otherwise>
                        college = NULL,
                    </otherwise>
                </choose>
            </if>
            <if test="classId != null">class_id = #{classId},</if>
            <if test="roleType != null">
                <choose>
                    <when test="roleType == '5'">
                        teaching_classes = #{teachingClasses},
                    </when>
                    <otherwise>
                        teaching_classes = NULL,
                    </otherwise>
                </choose>
            </if>
        </set>
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteUserById">
        DELETE FROM sys_user WHERE user_id = #{userId}
    </delete>

    <select id="selectUsersByRole" resultMap="UserResultMap">
        SELECT * FROM sys_user WHERE role_type = #{roleType}
    </select>

    <insert id="insert" parameterType="com.project.system.entity.User">
        INSERT INTO sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            username, password, real_name, role_type,
            teacher_rank,
            <if test="college != null">college,</if>
            class_id, teaching_classes, create_time
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            #{username}, #{password}, #{realName}, #{roleType},
            #{teacherRank},
            <if test="college != null">#{college},</if>
            #{classId}, #{teachingClasses}, NOW()
        </trim>
    </insert>

    <insert id="insertBatchStudents" parameterType="java.util.List">
        INSERT INTO sys_user (
        username, password, real_name, role_type, class_id, create_time
        )
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.username},
            #{item.password},
            #{item.realName},
            '4',
            #{item.classId},
            NOW()
            )
        </foreach>
    </insert>

    <select id="selectDistinctClassIds" resultType="java.lang.Long">
        SELECT DISTINCT class_id FROM sys_user
        WHERE role_type = '4' AND class_id IS NOT NULL
        ORDER BY class_id ASC
    </select>

    <select id="selectStudentsByClassIds" resultMap="UserResultMap">
        SELECT * FROM sys_user
        WHERE role_type = '4'
        AND class_id IN
        <foreach item="item" index="index" collection="classIds" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <sql id="TeacherStudentWhereClause">
        <where>
            AND role_type = '4'
            AND class_id IN
            <foreach item="item" index="index" collection="classIds" open="(" separator="," close=")">
                #{item}
            </foreach>

            <if test="keyword != null and keyword != ''">
                AND (username LIKE concat('%', #{keyword}, '%')
                OR real_name LIKE concat('%', #{keyword}, '%'))
            </if>

            <if test="classId != null and classId != ''">
                AND class_id = #{classId}
            </if>
        </where>
    </sql>

    <select id="countStudentsByTeachingClasses" resultType="long">
        SELECT count(user_id) FROM sys_user
        <include refid="TeacherStudentWhereClause"/>
    </select>

    <select id="selectStudentsByTeachingClasses" resultMap="UserResultMap">
        SELECT * FROM sys_user
        <include refid="TeacherStudentWhereClause"/>
        ORDER BY username ASC
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="countStudentsByClassId" resultType="long">
        SELECT COUNT(*) FROM sys_user
        WHERE role_type = '4'
          AND class_id = #{classId}
    </select>

    <select id="countStudentsByClassIds" resultType="long">
        SELECT COUNT(*) FROM sys_user
        WHERE role_type = '4'
          AND class_id IN
        <foreach collection="classIds" item="cid" open="(" separator="," close=")">
            #{cid}
        </foreach>
    </select>
</mapper>
